<nav class="navbar">
    <% if (locals.user) { %>
        <div>
            Your name: <%= locals.user.username %>
        </div>
    <% } %>
    <div class="navLinks">
        <% if (!locals.user) { %>
            <a href='/'>Log in</a>
            <a href="/sign-up">Create account</a>
        <% } %>

        <% if (locals.user) { %>
            <a href='/'>Home</a>
            <a href="/log-out">Log out</a>
            <a href="/createPost">Upload file</a>
        <% } %>
    </div>
</nav>