<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="bodyContainer">
        <div class="center">
            <div class="fileContainer">
                <% files.forEach((file) => { %>
                    <div class="card">
                        <%- file.title %>
                        <div class="buttonContainer">
                            <form action="/deleteFolder" method="POST">
                                <button type="submit" name="file_id" value="<%= file.id %>" class="deleteFileBtn"></button>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</body>
</html>