<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <div class="bodyContainer">
    <%- include("partials/navbar.ejs") %>
    <div class="center">
        <div class="card">
            <form action="/profile" method="post" enctype="multipart/form-data">
                <select name="folder" id="folder">
                  <% folders.forEach((folder) => { %>
                    <option value='<%= folder.title %>'><%= folder.title %></option>
                  <% }) %>
                </select>
                <label for="folder">Choose a folder</label><br><br>
                <input type="file" name="avatar" /><br><br>
                <button type="submit" class="largeButton">Upload</button>
            </form>
        </div>
    </div>
  </div>
</body>
</html>